<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>964309477992-eea8pdli1guv4qcbsmmgim1j2eluds4v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.964309477992-eea8pdli1guv4qcbsmmgim1j2eluds4v</string>
	<key>API_KEY</key>
	<string>AIzaSyAkBcP9AU3zdjuechOFNX1JV9jdP6XNFqs</string>
	<key>GCM_SENDER_ID</key>
	<string>964309477992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.krishna.firebase</string>
	<key>PROJECT_ID</key>
	<string>fir-b6b35</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-b6b35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:964309477992:ios:940796af703ad219abe9dd</string>
</dict>
</plist>